*{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
     .container{
           height: 100vh;
           display: flex;
           align-items: center;
           justify-content: center;
           
        }
        .main{
           border: 15px solid black;
           border-radius: 50%;
           border-top: 18px solid white; 
           width: 100px;
           height: 100px; 
           animation: loading 10s linear;
           animation-iteration-count: 10;
        }
        @keyframes loading{
            0%{transform: rotate(0deg);}
            100%{transform: rotate(360deg);}
        } 